/* Regular */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Black.ttf");
    font-weight: 900;
    font-style: normal;
}

/* Black Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* Extra Bold */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

/* Extra Bold Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

/* Extra Light */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

/* Extra Light Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

/* Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

/* Semi Bold */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

/* Semi Bold Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

/* Thin */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

/* Thin Italic */
@font-face {
    font-family: BeVietnamPro;
    src: url("$fonts/BeVietnamPro/BeVietnamPro-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}