@font-face {
    font-family: Hack;
    src: url('$fonts/Hack-Regular.ttf');
}

@font-face {
    font-family: Chalkboard;
    src: url('$fonts/Chalkboard.ttc');
}

@font-face {
    font-family: Chalkduster;
    src: url('$fonts/Chalkduster.ttf');
}

@font-face {
    font-family: Borel;
    src: url('$fonts/Borel/Borel-Regular.ttf');
}