:root {
    --nav-height: 40px;
}

* {
    margin: 0;
    font-family: "Open Sans","Adjusted Arial",Tahoma,Geneva,sans-serif;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-weight: 400;
}

/** Nav Bar */
.nav-bar {
    height: var(--nav-height);
    padding: 0 14px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.nav-bar a {
    padding: 4px 2px;
    text-align: center;
    text-decoration: none;
    object-position: center;
    color: inherit;
}

.nav-bar .spacer {
    flex-grow: 1;
}