.footer {
    padding: 20px 10px;
    /* Slightly reduce padding for a lighter touch */
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Reduce the gap between elements for a lighter spacing */
    align-items: center;

    &__link {
        display: inline;
        color: inherit;
        text-decoration: none;

        &+& {
            margin-left: 6px;
            /* Add margin between link elements */
        }
    }

    &__copyright {
        font-size: 0.9rem;
        /* Slightly smaller font size for copyright notice */
    }
}