/* Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    color: var(--color-primary);
}

.navbar__title {
    font-size: 1.5rem;
    font-weight: bold;
    // text-transform: uppercase;
    margin-right: auto;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    transition: text-decoration 0.2s ease;

    &:hover {
        text-decoration: underline;
    }
}
