.btn {
    @include button;
    
    background-color: var(--color-primary);

    &--red {
        background-color: red;
    }

    &--inverse {
        background-color: white;
        color: var(--color-primary);
    }

    &--jumbo {
        font-size: 1.4rem;
        padding: 8px 24px;
    }
}