.btn {
    @include button;
    
    background-color: var(--color-primary);
    box-sizing: border-box;

    &--inline {
        display: inline-block;
    }

    &--red {
        background-color: red;
    }

    &--white {
        background-color: white;
    }

    &--inverse {
        background-color: transparent;
        color: var(--color-primary);
    }

    &--big {
        font-weight: bold;
        font-size: 1.2rem;
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    &--jumbo {
        font-size: 1.4rem;
        padding: 8px 24px;
        text-transform: uppercase;
    }

    &--icon {
        & > *:not(:last-child) {
            margin-right: 8px;
        }
    }
}