@import 'fonts/be_vietnam_pro';
@import 'fonts/others';

$HEADER_BASE_SIZE : 1.1rem;


body {
    font-family: BeVietnamPro, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(80, 80, 80);
}

p {
    line-height: 1.5;
    text-wrap: pretty;
    max-width: 75ch; // Maybe not???
}

p,
span {
    // color: rgb(80, 80, 80);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-block-start: 1em; // 1rem;
    // margin-block: 0.5em;
    text-wrap: balance;
}

h6 {
    font-size: #{$HEADER_BASE_SIZE+0rem};
    font-weight: bold;
}

h5 {
    font-size: #{$HEADER_BASE_SIZE+0.1rem};
    font-weight: normal;
}

h4 {
    font-size: #{$HEADER_BASE_SIZE+0.2rem};
    font-weight: bold;
}

h3 {
    font-size: #{$HEADER_BASE_SIZE+0.4rem};
    font-weight: normal;
}

h2 {
    font-size: #{$HEADER_BASE_SIZE+0.8rem};
    font-weight: bold;
}

h1 {
    font-size: #{$HEADER_BASE_SIZE+1rem};
    font-weight: lighter;
    margin-block: 1rem;

    &.dense {
        margin: 0;
    }
}

pre {
    font-family: Hack;
}